{% load hodor_filters %}
<div class="battle-event-entry">
    {% if type == 'GateAttacked' %}
        <div class="gate-attacked">
            Můj pane, zaútočil jste na {{ event.gate_number }}. bránu, jejímž obráncem je {{ event.gate_number|gate_defender_name }} se svou družinou.
        </div>
    {% elif type == 'RoundStarted' %}
        <div class="round-started">
            {{ event.round|add:1 }}. kolo
        </div>
    {% elif type == 'Attack' %}
        <div class="{% if event.counter_attack %}counter-attack{% elif event.attacker.is_attacker_player %}my-attacked{% else %}his-attacked{% endif %}">
            {% if event.counter_attack %}
                obrana:<br/>
            {% endif %}
            {% render_log_unit event.attacker %}
            {{ event.attacker.attack_sign }}
            {% render_log_unit event.defender %}
            <br/>
            zabito: {{ event.killed }}, zbývá: {{ event.defender.count }} / {{ event.defender.count_initial }}
            {% if event.defender.count > 0 %}
                zraněno: {{ event.wounded }}%
                {% if event.armor_remaining > 0 %}
                    <br/>brnění zbývá: {{ event.armor_remaining }}%
                {% endif %}
            {% endif %}
        </div>
    {% elif type == 'AttackNoTarget' %}
        <div class="{% if event.unit.is_attacker_player %}my-attacked{% else %}his-attacked{% endif %}">
            {% render_log_unit event.unit %} {{ event.unit.attack_sign }} Jednotka nemá žádný cíl
        </div>
    {% elif type == 'CombatResult' %}
        <div class="combat-result">Vaše ztráty jsou {{ event.attacker_losses|percent:2 }} síly armády, obránce {{ event.defender_losses|percent:2 }} síly armády</div>
    {% elif type == 'CombatVerboseResult' %}
        <div class="combat-result-details my-2">
            <div class="summary-power attacker">
                Celková síla útočník: {{ event.attacker_power_remaining|nft }} / {{ event.attacker_power_total|nft }}
            </div>
            <div class="summary-power defender">
                Celková síla obránce: {{ event.defender_power_remaining|nft }} / {{ event.defender_power_total|nft }}
            </div>

            <div class="m-3">
                <div class="table-responsive">
                    <table class="table table-sm table-dark text-nowrap">
                        <thead>
                        <tr>
                            <th scope="col">Jednotka</th>
                            <th scope="col">typ</th>
                            <th class="text-right" scope="col">počet</th>
                            <th class="text-right" scope="col">zbývá</th>
                            <th class="text-right" scope="col">síla</th>
                            <th class="text-right" scope="col">zbývá síla</th>
                            <th class="text-right" scope="col">přežilo</th>
                            <th class="text-right" scope="col">celkelem ztrát</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for unit in event.attacker_units %}
                            <tr class="attacker">
                                <td>{{ unit.name }}</td>
                                <td>{{ unit.printable_type }}</td>
                                <td class="text-right">{{ unit.count_initial|nft }}</td>
                                <td class="text-right">{{ unit.count|nft }}</td>
                                <td class="text-right">{{ unit.count_initial|mul:unit.power|int|nft }}</td>
                                <td class="text-right">{{ unit.count|mul:unit.power|int|nft }}</td>
                                <td class="text-right">{{ unit.count|div:unit.count_initial|percent:2 }}</td>
                                <td class="text-right">{{ unit.count_initial|sub:unit.count|mul:unit.power|div:event.attacker_power_total|percent:2 }}</td>
                            </tr>
                        {% endfor %}
                        {% for unit in event.defender_units %}
                            <tr class="defender">
                                <td>{{ unit.name }}</td>
                                <td>{{ unit.printable_type }}</td>
                                <td class="text-right">{{ unit.count_initial|nft }}</td>
                                <td class="text-right">{{ unit.count|nft }}</td>
                                <td class="text-right">{{ unit.count_initial|mul:unit.power|int|nft }}</td>
                                <td class="text-right">{{ unit.count|mul:unit.power|int|nft }}</td>
                                <td class="text-right">{{ unit.count|div:unit.count_initial|percent:2 }}</td>
                                <td class="text-right">{{ unit.count_initial|sub:unit.count|mul:unit.power|div:event.defender_power_total|percent:2 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% elif type == 'SupportJoined' %}
        {% for unit in event.attacker_support %}
            <div class="support-joined">K armádě útočníka se připojilo {{ unit.count }} x {{ unit.name }}</div>
        {% endfor %}
        {% for unit in event.defender_support %}
            <div class="support-joined">K armádě obránce se připojilo {{ unit.count }} x {{ unit.name }}</div>
        {% endfor %}
    {% elif type == 'CastSpell' %}
        <div class="casting-spell">
            {{ event.is_attacker|yesno:'Útočník,Obránce' }} sesílá {{ event.spell_name }}
        </div>
        {% if not event.target_found %}
            <div class="casting-target-not-found">Kouzlo nenašlo svůj cíl.</div>
        {% elif event.success %}
            <div class="casting-success">{{ event.spell_text }}</div>
        {% else %}
            <div class="casting-failure">
                Seslání nebylo dokončeno úspěšně, protivník sesílané kouzlo magicky zastavil.
            </div>
        {% endif %}
    {% elif type == 'AreaTaken' %}
        <div class="combat-result">
            Útočník získává {{ event.area_taken|har20k|int }} hAR.
        </div>
    {% else %}
        <div class="text-danger">
            ERROR [{{ type }}]
            {{ event.as_ascii }}
        </div>
    {% endif %}
</div>