{% load hodor_filters %}
{% if unit.rich %}
    <span data-toggle="tooltip" data-html="true" title="<div class='container'>
        <div class='row'><div class='col text-left'>ini</div><div class='col text-right text-nowrap'><code>{{ unit.initiative_z|nf_1:'.' }} ({{ unit.initiative|nf_1:'.' }})</code></div></div>
        <div class='row'><div class='col text-left'>XP</div><div class='col text-right text-nowrap'><code>{{ unit.xp|percent }}</code></div></div>
        <div class='row'><div class='col text-left'>target</div><div class='col text-right text-nowrap'><code>{{ unit.target }}</code></div></div>
        <div class='row'><div class='col text-left'>type</div><div class='col text-right text-nowrap'><code>{{ unit.type }}</code></div></div>
        <div class='row'><div class='col text-left'>power tot</div><div class='col text-right text-nowrap'><code>{{ unit.power|mul:unit.count|int|nft }}</code></div></div>
        <div class='row'><div class='col text-left'>dmg/ks</div><div class='col text-right text-nowrap'><code>{{ unit.damage|nf_1:'.' }}</code></div></div>
        <div class='row'><div class='col text-left'>dmg_tot</div><div class='col text-right text-nowrap'><code>{{ unit.damage|mul:unit.count|int|nft }}</code></div></div>
        <div class='row'><div class='col text-left'>AC total</div><div class='col text-right text-nowrap'><code>{{ unit.armor_total|int|nft }}</code></div></div>
        <div class='row'><div class='col text-left'>AC tot_in</div><div class='col text-right text-nowrap'><code>{{ unit.armor_total_initial|int|nft }}</code></div></div>
        <div class='row'><div class='col text-left'>life/ks</div><div class='col text-right text-nowrap'><code>{{ unit.life|nf_1:'.' }}</code></div></div>
        <div class='row'><div class='col text-left'>life_total</div><div class='col text-right text-nowrap'><code>{{ unit.life_total|int|nft }}</code></div></div>
</div>">
{% if unit.count_before_attack > 1 %} {{ unit.count_before_attack }} x {% endif %} {{ unit.name }}
</span>
{% else %}
    {% if unit.count_before_attack > 1 %} {{ unit.count_before_attack }} x {% endif %} {{ unit.name }}
{% endif %}