{% load static %}{% load hodor_filters %}<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="icon" sizes="32x32" href="{% static 'favicon.ico' %}">
    <link href="{% static 'css/hodor.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="//unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
    <script src="//use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>

    {% get_from_settings 'ENABLE_GA_TAG' as enable_ga_tag %}
    {% if enable_ga_tag %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-188678642-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-188678642-1');
        </script>
    {% endif %}

    <title>{% block title %}HODOR{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container">
        {% block navbar %}
            <a href="{% url 'hodor:tournament_home' %}">
                <span class="navbar-brand">SGM</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hodor:tournament_home' %}">Pravidla</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hodor:tournament_builder' %}">Builder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hodor:tournament_simul' %}">Simul</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hodor:info_units' %}">Info-Jednotky</a>
                    </li>
                    {% block menu %}{% endblock %}
                </ul>
            </div>
        {% endblock %}
    </div>
</nav>

{% block content %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="//code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="//unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>