body {
    padding-top: 56px;
}

.battles-wrapper {
    font-family: "Helvetica-Neue", "Helvetica", Verdana, Arial, sans-serif;
    background-color: #181913;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.battle-event-entry {
    padding: 3px 0;
}

.battle-event-entry .gate-attacked {
    padding: 6px 0;
    color: #ffa500;
    font-size: 14px;
}

.battle-event-entry .fight-player {
    padding: 6px 0;
    color: #ffa500;
    font-weight: bold;
    font-size: 22px;
}

.battle-event-entry .attacked {
    padding: 6px 0;
    color: #A8A8A8;
}

.battle-event-entry .green-info {
    padding: 6px 0;
    color: #339933;
}

.battle-event-entry .round-started {
    color: #2d71b3;
    border: 1px solid #323232;
    padding: 2px;
    background-color: #131513;
}

.battle-event-entry .my-attacked {
    color: #fea909;
}

.battle-event-entry .support-joined {
    color: #a8a8a8;
    padding: 2px;
}

.battle-event-entry .casting-spell, .battle-event-entry .casting-success, .battle-event-entry .casting-failure, .battle-event-entry .casting-target-not-found {
    font-size: 15px;
    line-height: 17px;
}

.battle-event-entry .casting-spell {
    color: #a8a8a8;
    padding: 2px;
}

.battle-event-entry .casting-success {
    color: #339933;
    white-space: pre-wrap;
}

.battle-event-entry .casting-target-not-found {
    color: #772211;
}

.battle-event-entry .casting-failure {
    color: #772211;
    font-style: italic;
}

.battle-event-entry .his-attacked {
    color: #a8a8a8;
}

.battle-event-entry .counter-attack {
    color: #707070;;
    font-style: italic;
}

.battle-event-entry .combat-result {
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    margin-top: 28px;
    color: #a8a8a8;
}

.battle-event-entry .combat-result-details .attacker {
    color: #fea909;
}

.battle-event-entry .combat-result-details .defender {
    color: #a8a8a8;
}

.battle-event-entry .combat-result-details table th {
    color: #a8a8a8;
}

.battle-event-entry .combat-result-details table {
    text-align: left;
}

.battle-event-entry .combat-result-details .summary-power {
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
}

.battle-tabs a.victory, .battle-tabs a.defeat {
    border-color: #dee2e6 #dee2e6 #fff;
}

.battle-tabs a.victory {
    background-color: #c6e7bb;
}

.battle-tabs a.victory.nav-link.active {
    background-color: #a1e389;
}

.battle-tabs a.defeat {
    background-color: #daadad;
}

.battle-tabs a.defeat.nav-link.active {
    background-color: #d47171;
}

.builder-row .flier._L {
    color: #006699;
}

.builder-row .flier._P {
    color: #990000;
}

.builder-row .attack._B {
    color: #FF9900;
}

.builder-row .attack._S {
    color: #339933;
}

.unit-color-C, ._unit-color-C {
    background-color: #646464;
    color: white;
}

.unit-color-Z, ._unit-color-Z {
    background-color: #bce9bc;
}

.unit-color-M, ._unit-color-M {
    background-color: #dbe6ff;
}

.unit-color-S, ._unit-color-S {
    background-color: #dedede;
}

.unit-color-F, ._unit-color-F {
    background-color: #e5cfea;
}

.ini-block {
    text-align: center;
    color: #fefefe;
}

.ini-block.c702020, .ini-block._c702020 {
    background: #702020;
}

.ini-block.c602020, .ini-block._c602020 {
    background: #602020;
}

.ini-block.c502020, .ini-block._c502020 {
    background: #502020;
}

.ini-block.c402020, .ini-block._c402020 {
    background: #402020;
}

.ini-block.c302020, .ini-block._c302020 {
    background: #302020;
}

.ini-block.c202020, .ini-block._c202020 {
    background: #202020;
}

.ini-block.c203020, .ini-block._c203020 {
    background: #203020;
}

.ini-block.c204020, .ini-block._c204020 {
    background: #204020;
}

.ini-block.c205020, .ini-block._c205020 {
    background: #205020;
}

.ini-block.c206020, .ini-block._c206020 {
    background: #206020;
}

.ini-block.c207020, .ini-block._c207020 {
    background: #207020;
}