{% extends 'hodor/layout.html' %}
{% load hodor_filters %}

{% block title %}HODOR | Home{% endblock %}
{% block navbar %} <span class="navbar-brand">HODOR</span> {% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            let ta_units = $('#ta-units');

            // no value specified by user, hit from localStorage
            if (!ta_units.val()) {
                ta_units.val(
                    window.localStorage.getItem('ta-units') || "Zombie;0.4;31963\nMumie;0.4;1\nPráče;1;102\nBazilišek;1;83\nFext;1;816\nVzdušný vír;1;81\nLedový dráček;1;23\nSpektra;0.4;1"
                );
            }

            ta_units.change(function () {
                window.localStorage.setItem('ta-units', $(this).val());
            }).change();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{% url 'hodor:simul' %}" class="my-3">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="ta-units">Jednotky *</label>
                        <textarea class="form-control" id="ta-units" rows="5"
                                  name="units">{{ units_input|default_if_none:'' }}</textarea>
                    </div>
                </div>
                <div class="col">
                    <label for="sel-gate">Brána</label>
                    <select name="gate_number" id="sel-gate" class="form-control">
                        <option value="1"{% if gate_number == 1 %} selected{% endif %}>1. Klotho</option>
                        <option value="2"{% if gate_number == 2 %} selected{% endif %}>2. Lachesis</option>
                        <option value="3"{% if gate_number == 3 %} selected{% endif %}>3. Atropos</option>
                        <option value="4"{% if gate_number == 4 %} selected{% endif %}>4. Caerme</option>
                        <option value="5"{% if gate_number == 5 %} selected{% endif %}>5. Argo</option>
                        <option value="6"{% if gate_number == 6 %} selected{% endif %}>6. Furia</option>
                        <option value="7"{% if gate_number == 7 %} selected{% endif %}>7. Celesta</option>
                        <option value="8"{% if gate_number == 8 %} selected{% endif %}>8. Tara</option>
                    </select>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="id-input-gate-passed">Kolik už dalo (nic = ignorovat) **</label>
                        <input class="form-control" type="text" name="input_gate_passed" id="id-input-gate-passed" value="{{ input_gate_passed|default_if_none:0 }}">
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Simulovat!</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <small>
                        *) CTRL+A, CTRL+C, CTRL+V z Hospodaření, nebo CSV ve formátu <code>Jméno;XP;počet</code> kde XP je
                        od 0.01 do 1.00 (1.00 = 100%).<br/>
                        **) Nevyplnění nic znamená "defaultní síla brány". Není to to samé jako síla brány pro prvního kdo
                        jí dává, prvních pár hráčů má naopak bránu těžší než je standard. Liší se brána od brány.
                    </small>
                </div>
            </div>


        </form>

        <ul class="nav nav-tabs battle-tabs" id="myTab" role="tablist">
            {% for battle in battles %}
                <li class="nav-item">
                    <a class="nav-link px-2 py-1 {% if forloop.first %} active{% endif %} {% if battle.result_attacker < battle.result_defender %}victory{% else %}defeat{% endif %}"
                       id="profile-tab" data-toggle="tab"
                       href="#gate_{{ forloop.counter }}">
                        {% if battle.label is not None %}{{ battle.label }}<br/>{% endif %}
                        {{ battle.result_attacker|percent }} : {{ battle.result_defender|percent }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content battles-wrapper">
            {% for battle in battles %}
                <div class="tab-pane fade battle{% if forloop.first %} show active{% endif %}"
                     id="gate_{{ forloop.counter }}">
                    {% for event in battle.log_events %}
                        {% render_battle_log_entry event %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}