{% extends 'hodor/layout.html' %}

{% load static %}

{% block title %}HODOR | Home{% endblock %}

{% block navbar %} <span class="navbar-brand">HODOR</span> {% endblock %}

{% block content %}
    <div class="container">
        <h1>Sorry guys, Hodor is holding the door and you cannot enter this section.</h1>

        <div class="container">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/1183559/screenshots/2750341/hello-dribbble.png" alt="Hodor"/>
            </div>
        </div>
    </div>
{% endblock %}
