{% extends 'hodor/tournament/layout.html' %}
{% load hodor_filters %}

{% block title %}SGM | Tournament {{ tournament.name }}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row py-5 text-center">
            <div class="col">
                <form method="post" action="{% url 'hodor:tournament_validate' tournament_id=tournament.id tournament_slug=tournament.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Validate</button>
                </form>
            </div>
            <div class="col">
                <form method="post" action="{% url 'hodor:tournament_execute' tournament_id=tournament.id tournament_slug=tournament.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Simulate</button>
                </form>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{% url 'admin:hodor_tournament_change' tournament.id %}">Edit tournament</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{% url 'admin:hodor_tournamentsubmission_add' %}?tournament={{ tournament.id }}">Add submission</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player</th>
                <th scope="col">Main</th>
                <th scope="col">Army</th>
                <th scope="col">Valid</th>
                <th scope="col">Power</th>
                <th scope="col">Recruit</th>
                <th scope="col">Validation Message</th>
                <th scope="col">Wins</th>
                <th scope="col">Avg RD</th>
                <th scope="col">hAr</th>
            </tr>
            </thead>
            {% for submission in tournament_submissions %}
                <tr{% if not submission.valid %} class="bg-warning"{% endif %}>
                    <td>{{ forloop.counter }}.</td>
                    <td>
                        <a href="{% url 'hodor:tournament_result_player' tournament_id=tournament.id tournament_slug=tournament.slug player_id=submission.id %}">{{ submission.player_name }}#{{ submission.player_id }}</a>
                    </td>
                    <td>
                        {{ submission.main_stack }}
                    </td>
                    <td>
                        <a href="{% url 'admin:hodor_tournamentsubmission_change' submission.id %}">
                            <pre><code>{{ submission.army }}</code></pre>
                        </a>
                    </td>
                    <td>
                        {{ submission.valid }}
                    </td>
                    <td>
                        {{ submission.army_power|thousand_format }}
                    </td>
                    <td>
                        {{ submission.recruit_tu }}
                    </td>
                    <td>
                        {{ submission.validation_message }}
                    </td>
                    <td>
                        {{ submission.wins }}
                    </td>
                    <td>
                        {{ submission.average_result_diff|percent:2 }}
                    </td>
                    <td>
                        {{ submission.area_taken|har20k|pm_int_thousands }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h2>Results</h2>

    {% include 'hodor/tournament/fragments/results_table.html' with tournament_submissions=tournament_submissions tournament_results=tournament_results only %}
{% endblock %}