{% extends 'hodor/layout.html' %}
{% load hodor_filters %}
{% load static %}

<!--suppress HtmlFormInputWithoutLabel -->

{% block title %}SGM | Builder{% endblock %}

{% block js %}
    <script type="text/javascript">
        const URL_AJAX_UNITS = "{% url 'hodor:ajax_units' %}";
    </script>
    <script src="{% static 'js/builder.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="display-3">Builder</h2>

        <div class="table-responsive">
            <table class="table table-sm" id="units">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jednotka</th>
                    <th scope="col" class="text-right">XP</th>
                    <th scope="col" class="text-right">Počet</th>
                    <th scope="col">Cíl</th>
                    <th scope="col">Druh</th>
                    <th scope="col">Typ</th>
                    <th scope="col" class="text-center">Phb</th>
                    <th scope="col" class="text-center">Ini</th>
                    <th scope="col" class="text-center">B</th>
                    <th scope="col" class="text-right">Síla</th>
                    <th scope="col" class="text-right">Síla&nbsp;celkem</th>
                    <th scope="col" class="text-right">Rekrut/TU</th>
                    <th scope="col" class="text-right">Rekrut&nbsp;TU</th>
                    <th scope="col" class="text-right">ZL</th>
                    <th scope="col" class="text-right">ZL*</th>
                    <th scope="col" class="text-right">MN</th>
                    <th scope="col" class="text-right">PP</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>

                <tr class="total">
                    <th scope="col" class="unit_count">4</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" class="text-right total_count"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" class="text-right total_power"></th>
                    <th scope="col"></th>
                    <th scope="col" class="text-right total_recruit_tu"></th>
                    <th scope="col" class="text-right total_upkeep_gp"></th>
                    <th scope="col" class="text-right total_upkeep_gp_real"></th>
                    <th scope="col" class="text-right total_upkeep_mn"></th>
                    <th scope="col" class="text-right total_upkeep_pp"></th>
                </tr>
                </tfoot>
            </table>
        </div>

        <p>
            *) Reálný upkeep vč. vytlačování populace.
        </p>

        <h4>&darr; Toto poslat Savannahovi &darr;</h4>
        <small class="text-muted">
            <code>@Savannah#9217</code> na oficiálním MA discordu, nebo na ID 9217 MAštou
        </small>

        <div class="d-none">
            <table id="template-unit">
                <tbody>
                <tr class="builder-row">
                    <th scope="row" class="counter">1</th>
                    <td>
                        <select class="custom-select custom-select-sm unit change-trigger input-selector" style="min-width: 8em">
                            <option value="0">---</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control form-control-sm text-right xp change-trigger" value="40" min="1" max="100" style="min-width: 4em">
                    </td>
                    <td>
                        <input type="number" class="form-control form-control-sm text-right count change-trigger" value="1" min="1" style="min-width: 6em">
                    </td>
                    <td>
                        <select class="custom-select custom-select-sm target change-trigger " style="min-width: 6em">
                            <option value=""> ---</option>
                            <option value="dmg">dmg</option>
                            <option value="pocet">počet</option>
                            <option value="zivoty">životy</option>
                            <option value="iniciativa">ini</option>
                        </select>
                    </td>
                    <td class="flier"></td>
                    <td class="attack"></td>
                    <td class="text-center movement"></td>
                    <td class="initiative ini-block"></td>
                    <td class="text-center color"></td>
                    <td class="text-right power"></td>
                    <td class="text-right total_power"></td>
                    <td class="text-right recruit_per_tu"></td>
                    <td class="text-right">
                        <input type="number" class="form-control form-control-sm text-right recruit_tu ml-auto" style="width: 5em">
                    </td>
                    <td class="text-right gp"></td>
                    <td class="text-right gp_real"></td>
                    <td class="text-right mn"></td>
                    <td class="text-right pp"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <textarea class="form-control my-4 result_text" rows="8"></textarea>

        <button type="button" class="btn btn-danger" id="reset">Reset</button>
    </div>
{% endblock %}