{% extends 'hodor/tournament/layout.html' %}
{% load hodor_filters %}

{% block title %}Turnaj {{ tournament.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="display-4">Turnaj {{ tournament.name }}</h2>

        {{ tournament.intro_markdown|markdown }}

        <h4>Vyhodnocení</h4>

        <p>
            {% if tournament.result_type == 'number_of_wins' %}
                Pořadí je primárně určeno počtem výher (více než 2% rozdíl), tie-breaker je průměrný rozdíl výsledků všech bitev.
            {% elif tournament.result_type == 'area_taken' %}
                Pořadí je primárně určeno celkovou získanou rozlohou (vyhrané útoky přidávají, prohrané obrany ubírají). Zisk z bitvy se počítá stejně jako v MA a tak, že útočník i
                obránce mají 20 000 hAR.
            {% else %}
                N/A
            {% endif %}
        </p>

        <h4>Omezení</h4>

        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Jednotky</th>
                <td>
                    {% if tournament.validate_units_selection == 'only_core' %}
                        pouze rekrutovatelné, tedy bez Neutrálních a speciálních jednotek.
                    {% elif  tournament.validate_units_selection == 'single_color_no_neutral' %}
                        jedna barva (např. možno kombinovat Hraničáře a Druida), bez Neutrálních a speciálních jednotek.
                    {% else %}
                        bez omezení
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Zkušenost bojovek</th>
                <td>
                    {% if tournament.validate_min_xp_melee == tournament.validate_max_xp_melee %}
                        {{ tournament.validate_min_xp_melee|percent }} fix
                    {% else %}
                        {{ tournament.validate_min_xp_melee|percent }}&ndash;{{ tournament.validate_max_xp_melee|percent }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Zkušenost střelců</th>
                <td>
                    {% if tournament.validate_min_xp_ranged == tournament.validate_max_xp_ranged %}
                        {{ tournament.validate_min_xp_ranged|percent }} fix
                    {% else %}
                        {{ tournament.validate_min_xp_ranged|percent }}&ndash;{{ tournament.validate_max_xp_ranged|percent }}
                    {% endif %}
            </tr>
            <tr>
                <th scope="row">Max počet různých jednotek</th>
                <td>{{ tournament.validate_max_units|default_if_none:'bez omezení' }}</td>
            </tr>
            <tr>
                <th scope="row">Max celková síla armády</th>
                <td>{{ tournament.validate_max_power|thousand_format }}</td>
            </tr>
            <tr>
                <th scope="row">Max počet TU rekrutu</th>
                <td>
                    {% if tournament.validate_max_turns is None %}
                        bez omezení
                    {% else %}
                        {{ tournament.validate_max_turns }}, bez započítání Hradů nebo Verbířů. Snadno lze spočítat v <a href="{% url 'hodor:tournament_builder' %}">builderu</a>.
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Max upkeep</th>
                <td>bez omezení</td>
            </tr>
            <tr>
                <th scope="row">Max počet armád na hráče</th>
                <td>1</td>
            </tr>
            </tbody>
        </table>

        <h4>Výsledky</h4>
        {% if tournament.publicly_visible %}
            <a href="{% url 'hodor:tournament_result' tournament_id=tournament.id tournament_slug=tournament.slug %}">Výsledky jsou zde.</a>
        {% else %}
            Výsledky zatím nejsou k dispozici.
        {% endif %}

        <p class="mt-4">
            PS: Jako admin si vyhrazuji právo odmítnout jakoukoli amrádu, která se bude snažit využít nějakého bugu.
        </p>
    </div>
{% endblock %}