{% extends 'hodor/layout.html' %}
{% load hodor_filters %}
{% load static %}

{% block title %}SGM | Pravidla{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="display-3">SGM League</h2>

        <p>
            Dámy a pánové,
        </p>
        <p>
            nahodil jsem projekt jménem <abbr title="Savannah's Great Melee">SGM</abbr> League &ndash; velká aréna, kde
            proti sobě bojují MAčkové armády. Každý hráč může udělat svojí armádu (podle omezení níže) a poslat jí do
            soutěže. Já pak udělám velkou simulaci &ndash;"každý s každým".
        </p>
        <p>
            Kdo bude mít nejvíce výher (v případě shody rozhoduje průměrný rozdíl ztrát) je šampion!
        </p>
        <p>
            A jelikož se jedná o turnaj, budou ceny! (viz níže)
        </p>

        <h3 class="display-4">Zadávání armád</h3>

        <p>
            Nejsnazší je vzít <a href="{% url 'hodor:tournament_builder' %}">SGM BUILDER</a> a výsledek poslat na <code>@Savannah#9217</code> na oficiálním MA discordu, nebo na ID
            9217 MAštou.
        </p>

        <div class="text-muted">
            <p>
                Starý postup: Armády zasílejte na soukromou zprávu na <code>@Savannah#9217</code> na oficiálním MA discordu, nebo na ID 9217
                MAštou. Doporučuji si pro ulehčení stáhnout <a href="{% static 'docs/savannahs-great-melee.xlsx' %}">tento excel</a>, kde si můžete věci "vyklikat"!
            </p>

            <p>
                Formát zadání je následující:
            </p>

            <div class="my-3">
                <code>
                    Polární bouře;0.4;1000<br>
                    Lich;1;50<br>
                    Zlatý drak;1;5;pocet
                </code>
            </div>

            <p>
                Kde první je název jednotky (přesný, vč. háčků/čárek a velikosti písmen), následuje zkušenost (0.4 = 40%) a
                poslední je počet. Za počtem může být i "na co útočit", což je jedna z hodnot <code>pocet</code>,<code>dmg</code>, <code>zivoty</code>, <code>iniciativa</code>.
                Jednotky obránce jdou vždy na dmg, stejně pokud neuvedete jinak pro útočníka ;)
            </p>
        </div>

        V boji nejsou kouzla ani podpory (not yet anyways :wink: ), útočí se vždy do 100% (aka nejde se do 80%).

        <h3 class="display-4">Turnaje</h3>

        <ul>
            {% for tournament in tournaments %}
                <li><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a> ({{ tournament.tournament_date }})</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}