{% extends 'hodor/tournament/layout.html' %}
{% load hodor_filters %}

{% block title %}Turnaj {{ tournament.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="display-4">Results</h2>
        {% include 'hodor/tournament/fragments/results_table.html' with tournament_submissions=tournament_submissions tournament_results=tournament_results only %}

        <h2 class="display-4">Armies</h2>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player</th>
                    <th scope="col">Main</th>
                    <th scope="col">Army</th>
                    <th scope="col">Wins</th>
                    <th scope="col" title="Průměrný rozdíl výsledků">Avg RD</th>
                    <th scope="col" title="Zisk proti 20.000 hAR provkám">Zisk hAR</th>
                </tr>
                </thead>
                {% for submission in tournament_submissions %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>
                            <a href="{% url 'hodor:tournament_result_player' tournament_id=tournament.id tournament_slug=tournament.slug player_id=submission.id %}">{{ submission.player_name }}#{{ submission.player_id }}</a>
                        </td>
                        <td>
                            {{ submission.main_stack }}
                        </td>
                        <td>
                            <pre><code>{{ submission.army }}</code></pre>
                        </td>
                        <td>
                            {{ submission.wins }}
                        </td>
                        <td>
                            {{ submission.average_result_diff|percent:2 }}
                        </td>
                        <td>
                            {{ submission.area_taken|har20k|pm_int_thousands }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}