{% extends 'hodor/tournament/layout.html' %}
{% load hodor_filters %}

{% block title %}SGM | Turnaj {{ tournament.name }} | Výsledky {{ tournament_submission.player_name }}#{{ tournament_submission.player_id }} {% endblock %}

{% block content %}
    <div class="container">
        <h3>
            Výsledky {{ tournament_submission.player_name }}#{{ tournament_submission.player_id }}
        </h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Soupeř</th>
                <th scope="col" class="text-center">Útok</th>
                <th scope="col" class="text-right">&Delta;Útok</th>
                <th scope="col" class="text-center">Obrana</th>
                <th scope="col" class="text-right">&Delta;Obrana</th>
                <th scope="col" class="text-right">&Delta;Celkem</th>
            </tr>
            </thead>
            <tbody>
            {% for result in result_list %}
                <tr>
                    <td>
                        <a href="{% url 'hodor:tournament_result_player' tournament_id=tournament.id tournament_slug=tournament.slug player_id=result.opponent_submission_id %}">{{ result.opponent_name }}#{{ result.opponent_id }}</a>
                    </td>
                    <td class="text-center position-relative {{ result.attack|tournament_result_bg }}"><a href="{{ result.attack.get_absolute_url }}"
                                                                                                          class="text-light stretched-link">{{ result.attack.attacker_losses|percent }}
                        : {{ result.attack.defender_losses|percent }}</a></td>
                    <td class="text-right">{{ result.attack.defender_losses|sub:result.attack.attacker_losses|pm_percent:2 }}</td>
                    <td class="text-center position-relative {{ result.defense|tournament_result_bg:True }}"><a href="{{ result.defense.get_absolute_url }}"
                                                                                                                class="text-light stretched-link">{{ result.defense.attacker_losses|percent }}
                        : {{ result.defense.defender_losses|percent }}</a></td>
                    <td class="text-right">{{ result.defense.attacker_losses|sub:result.defense.defender_losses|pm_percent:2 }}</td>
                    <td class="text-right">{{ result.defense.attacker_losses|add_f:result.attack.defender_losses|sub:result.defense.defender_losses|sub:result.attack.attacker_losses|pm_percent:2 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}