{% extends 'hodor/tournament/layout.html' %}
{% load hodor_filters %}

{% block title %}Turnaj {{ tournament.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="display-4 mb-4">Results TOP3</h2>

        <ol>
            {% for submission in tournament_submissions %}
                <li class="my-2" style="font-size: 1.5rem">
                    {{ submission.player_name }}#{{ submission.player_id }}
                    <i class="fas fa-award {% if forloop.counter0 == 0 %}text-warning{% elif forloop.counter0 == 1 %}text-secondary{% else %}text-danger{% endif %}"></i>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
