{% extends 'hodor/layout.html' %}
{% load hodor_filters %}
{% load static %}

<!--suppress HtmlFormInputWithoutLabel -->

{% block title %}SGM | Simul{% endblock %}

{% block js %}
    <script src="{% static 'js/player_simul.js' %}"></script>
    <script src="{% static 'js/display_battle.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="fixed-top container" id="copied-to-clipboard-alert" style="display: none">
        <div class="alert alert-success">Uloženo do schránky!</div>
    </div>

    <div class="container">
        <h2 class="display-3">Simul soubojů</h2>
        <form method="post" action="{% url 'hodor:tournament_simul' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md">
                    <h4>Útočník

                        <button type="button" class="btn btn-sm btn-outline-primary" id="history_prev_attacker">&larr;</button>
                        <small>
                            <span id="attacker_history_index">0</span> / <span id="attacker_history_length">0</span>
                        </small>
                        <button type="button" class="btn btn-sm btn-outline-primary" id="history_next_attacker">&rarr;</button>

                        <button type="button" class="btn btn-sm btn-outline-primary float-right" title="Copy input with spells to clipboard." id="attacker-copy-to-clipboard">
                            <i class="far fa-copy"></i>
                        </button>
                    </h4>
                    <textarea class="form-control" rows="8" name="attacker_army" id="attacker_army"></textarea>
                    <div class="form-group">
                        <label for="exampleInputEmail1">XP podpor</label>
                        <input type="number" class="form-control" name="attacker_army_support_xp" id="attacker_army_support_xp" value="0" min="0" max="100">
                        <small id="emailHelp" class="form-text text-muted">0 = bez podpor, 100 = 19% max</small>
                    </div>

                    {% include 'hodor/tournament/fragments/spell_select.html' with combat_spells_by_groups=combat_spells_by_groups attacker='attacker' round=0 only %}
                    {% include 'hodor/tournament/fragments/spell_select.html' with combat_spells_by_groups=combat_spells_by_groups attacker='attacker' round=1 only %}
                    {% include 'hodor/tournament/fragments/spell_select.html' with combat_spells_by_groups=combat_spells_by_groups attacker='attacker' round=2 only %}
                    {% include 'hodor/tournament/fragments/spell_select.html' with combat_spells_by_groups=combat_spells_by_groups attacker='attacker' round=3 only %}
                </div>
                <div class="col-12 col-md">
                    <h4>Obránce

                        <button type="button" class="btn btn-sm btn-outline-primary" id="history_prev_defender">&larr;</button>
                        <small>
                            <span id="defender_history_index">0</span> / <span id="defender_history_length">0</span>
                        </small>
                        <button type="button" class="btn btn-sm btn-outline-primary" id="history_next_defender">&rarr;</button>

                        <button type="button" class="btn btn-sm btn-outline-primary float-right" title="Copy input with spells to clipboard." id="defender-copy-to-clipboard">
                            <i class="far fa-copy"></i>
                        </button>
                    </h4>
                    <textarea class="form-control" rows="8" name="defender_army" id="defender_army"></textarea>
                    <div class="form-group">
                        <label for="exampleInputEmail1">XP podpor</label>
                        <input type="number" class="form-control" name="defender_army_support_xp" id="defender_army_support_xp" value="0" min="0" max="100">
                        <small id="emailHelp" class="form-text text-muted">0 = bez podpor, 100 = 19% max</small>
                    </div>

                    {% include 'hodor/tournament/fragments/spell_select.html' with combat_spells_by_groups=combat_spells_by_groups attacker='defender' round=0 only %}
                    {% include 'hodor/tournament/fragments/spell_select.html' with combat_spells_by_groups=combat_spells_by_groups attacker='defender' round=1 only %}
                    {% include 'hodor/tournament/fragments/spell_select.html' with combat_spells_by_groups=combat_spells_by_groups attacker='defender' round=2 only %}
                    {% include 'hodor/tournament/fragments/spell_select.html' with combat_spells_by_groups=combat_spells_by_groups attacker='defender' round=3 only %}
                </div>
            </div>

            <div class="row text-center">
                <div class="form-check mx-auto">
                    <input type="checkbox" class="form-check-input" id="use_size_bonus" name="use_size_bonus">
                    <label class="form-check-label" for="use_size_bonus">Bonusy podle velikostí</label>
                    <a href="{% url 'hodor:info_sizes' %}"><i class="fas fa-question-circle"></i></a>
                </div>
            </div>

            <div class="row text-center my-4">
                <button type="submit" class="btn btn-primary mx-auto" id="submit">Simulovat!</button>
            </div>
        </form>

        {% if error %}
            <div class="row">
                <div class="col text-center">
                    <div class="bg-warning text-dark">
                        Chyba: {{ error }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if battles %}
            <ul class="nav nav-tabs battle-tabs" id="myTab" role="tablist">
                {% for battle in battles %}
                    <li class="nav-item col-6 text-center">
                        <a class="nav-link px-2 py-1 {% if forloop.first %} active{% endif %}"
                           id="profile-tab" data-toggle="tab" href="#battle_{{ forloop.counter }}">
                            {% if forloop.first %}Útok{% else %}Obrana{% endif %}
                            <br class="d-block d-md-none"/>
                            {% if battle.label is not None %}{{ battle.label }}<br/>{% endif %}{{ battle.result_attacker|percent }} : {{ battle.result_defender|percent }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="row">
                <div class="col">
                    <div class="tab-content battles-wrapper">
                        {% for battle in battles %}
                            <div class="tab-pane fade battle {% if forloop.first %} show active{% endif %}" id="battle_{{ forloop.counter }}">
                                {% for event in battle.log_events %}
                                    {% render_battle_log_entry event %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}