<!--suppress HtmlFormInputWithoutLabel -->
<div class="form-row">
    <div class="form-group col">
        {% if round == 0 %}
            <label>Kouzlo</label>
        {% endif %}
        <select id="spell_select_{{ attacker }}_{{ round }}" name="spell_select_{{ attacker }}_{{ round }}" class="form-control">
            <option value="0">---</option>

            {% for group in combat_spells_by_groups %}
                {% if group.label != '00' %}
                    <optgroup label="{{ group.label }}">
                {% endif %}
            {% for spell in group.spells %}
                {% if round >= spell.min_tu and round <= spell.max_tu %}
                    <option value="{{ spell.spell_id }}">{{ spell.name }}
                        [{% if group.key.0 == '0' or group.key.1 == spell.specialization %}{{ spell.gate }}{% else %}{{ spell.gate|add:2 }}{% endif %}]
                    </option>
                {% endif %}
            {% endfor %}
            {% if group.label != '00' %}
                </optgroup>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group col">
        {% if round == 0 %}
            <label>Cíl</label>
        {% endif %}
        <select id="spell_target_{{ attacker }}_{{ round }}" name="spell_target_{{ attacker }}_{{ round }}" class="form-control">
            <option value="dmg">zranění</option>
            <option value="pocet">počet</option>
            <option value="zivoty">životy</option>
            <option value="iniciativa">ini</option>
        </select>
    </div>
    <div class="form-group col-2">
        {% if round == 0 %}
            <label>XP</label>
        {% endif %}
        <input id="spell_xp_{{ attacker }}_{{ round }}" name="spell_xp_{{ attacker }}_{{ round }}" type="number" min="1" max="100" value="100" class="form-control text-right">
    </div>
</div>