{% extends 'hodor/layout.html' %}
{% load static %}

{% block title %}SGM | Info | Sizes{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="display-3">Info &ndash; velikosti</h2>

        <p>
            Každá jednotka je buď malá, střední, nebo velká.
        </p>

        <p>
            Malá jednotka je základní síla &leq; 10. Střední je základní síla &leq; 100. Velká je základní síla &gt; 100.
        </p>

        <p>
            Velká má bonus proti střední. Střední má bonus proti malé. A malá má bonus proti velké. Stejné velikosti na sebe žádný bonus nemají.
        </p>

        <p>
            Mít na někoho bonus znamená dávat +25% zranění a dostávat od nich -25% zranění.
        </p>
    </div>
{% endblock %}