{% extends 'hodor/layout.html' %}
{% load hodor_filters %}
{% load info_filters %}
{% load static %}

{% block title %}SGM | Info | Units{% endblock %}

{% block js %}
    <script type="text/javascript">
        function formatted_sorter(a, b) {
            let a_nf = parseFloat(a.replace(' ', '').replace(',', '.').replace('None', 0));
            let b_nf = parseFloat(b.replace(' ', '').replace(',', '.').replace('None', 0));

            return a_nf - b_nf;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="display-3">Info &ndash; jednotky</h2>

        <div class="table-responsive">
            <table class="table table-sm text-nowrap table-hover"
                   data-toggle="table" data-search="true" data-sortable="true" data-show-columns="true">
                <thead>
                <tr>
                    <th data-sortable="true" scope="col">Jméno</th>
                    <th data-sortable="true" scope="col" class="text-center">B</th>
                    <th data-sortable="true" scope="col">Typ</th>
                    <th data-sortable="true" scope="col" class="text-right">Ini</th>
                    <th data-sortable="true" data-switchable="false" data-sorter="formatted_sorter" scope="col" class="text-right">Power</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Zl/TU</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Mn/TU</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Pp/TU</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Rekrut/TU</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Síla/TU</th>

                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Zranění/pwr*</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Životy/pwr</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Brnění/pwr**</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Zl/pwr***</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Mn/pwr</th>
                    <th data-sortable="true" data-sorter="formatted_sorter" scope="col" class="text-right">Pp/pwr</th>
                </tr>
                </thead>
                <tbody>
                {% for unit in units_info %}
                    <tr>
                        <th scope="row">{{ unit.name }}</th>
                        <td class="unit-color-{{ unit.color }} text-center">{{ unit.color }}{{ unit.specialization }}</td>
                        <td>{{ unit.movement_type }}{{ unit.attack_type }}{% if unit.movement > 1 %}{{ unit.movement }}{% endif %}</td>
                        <td class="ini-block {{ unit.initiative|abs_ini_class }}">{{ unit.initiative }}</td>
                        <td class="text-right">{{ unit.power }}</td>
                        <td class="text-right">{{ unit.upkeep_gold }}</td>
                        <td class="text-right">{{ unit.upkeep_mana }}</td>
                        <td class="text-right">{{ unit.upkeep_pop }}</td>
                        <td class="text-right">{{ unit.total_recruit_tu|nf_1 }}</td>
                        <td class="text-right">{{ unit.total_recruit_tu|mul:unit.power|mul:0.4|nf_1 }}</td>
                        <td class="text-right">{{ unit|dmg_pwr|nf_1 }}</td>
                        <td class="text-right">{{ unit|life_pwr|nf_1 }}</td>
                        <td class="text-right">{{ unit|armor_pwr|nf_1 }}</td>
                        <td class="text-right">{{ unit|upkeep_gold_1k_pwr|nf_1 }}</td>
                        <td class="text-right">{{ unit|upkeep_mana_1k_pwr|nf_1 }}</td>
                        <td class="text-right">{{ unit|upkeep_pop_1k_pwr|nf_1 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul>
            <li>*) Zranění za 4 kola boje, vč. postihů na 1., 2. a 4., kolo</li>
            <li>**) Vč. postihu za phb2 / phb3</li>
            <li>***) Vč. ušlých zisků z vytlačené populace, za 1k</li>
        </ul>
    </div>
{% endblock %}
